* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
	padding: 0;
	scroll-behavior: smooth;
    box-sizing: border-box;
    
    
}

/*LANDING*/

.landing{
    height: 700px;
	width: 100%;
	background-image: url(background.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.layer {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		". . ."
		". klam ."
		". btn .";
}

.welcome {
	grid-area: klam;
	color: white;
	text-align: center;
    
}

.big{
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bolder;
}

.big:hover{
    color: #FFA500;
    transition: 1s;
    cursor: pointer;
}

.smoll{
    font-size: 30px;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.custom-btn {
    width: 200px;
    height: 45px;
    padding: 10px 25px;
    border: 2px solid #000;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    font-size: 25px;
    margin-top: 35px;
  }

/* 6 */
.btn-6 {
   background: #000;
   color: #fff;
   line-height: 42px;
   padding: 0;
   border: none;
 }
 .btn-6 span {
   position: relative;
   display: block;
   width: 100%;
   height: 100%;
 }
 .btn-6:before,
 .btn-6:after {
   position: absolute;
   content: "";
   height: 0%;
   width: 2px;
   background: #000;
 }
 .btn-6:before {
   right: 0;
   top: 0;
   transition: all 500ms ease;
 }
 .btn-6:after {
   left: 0;
   bottom: 0;
   transition: all 500ms ease;
 }
 .btn-6:hover{
   color: #000;
   background: #FFA500;
 }
 .btn-6:hover:before {
   transition: all 500ms ease;
   height: 100%;
 }
 .btn-6:hover:after {
   transition: all 500ms ease;
   height: 100%;
 }
 .btn-6 span:before,
 .btn-6 span:after {
   position: absolute;
   content: "";
   background: #000;
 }
 .btn-6 span:before {
   left: 0;
   top: 0;
   width: 0%;
   height: 2px;
   transition: all 500ms ease;
 }
 .btn-6 span:after {
   right: 0;
   bottom: 0;
   width: 0%;
   height: 2px;
   transition: all 500ms ease;
 }
 .btn-6 span:hover:before {
   width: 100%;
 }
 .btn-6 span:hover:after {
   width: 100%;
 }


/*Homepage content*/

/*First Section*/

.container
{
    display:grid;
    width:100%;
    height:550px;
    grid-template-columns:4fr 4fr 4fr;
    grid-template-rows: 0.5fr 0.5fr 3fr ;
	grid-template-areas:
    "main main main"
    "abou viss miss"
    "abou1 viss1 miss1";
    grid-gap: 5px;
    margin-top: 10px;
}
.mainhead{
    grid-area: main;
    font-size: 60px;
    color: #000;
    text-align: center;
    margin-bottom:20px;
}

h2{
color: #FFA500;
text-align: center;
font-weight: 900;
}

h3{
    color: #FFA500;
    text-align: center;
    font-weight: 900; 
    font-size: 22px;
}
.abou{
    grid-area: abou;
}
.viss{
    grid-area: viss;
}
.miss{
    grid-area: miss;

}

p{
    text-align: center;
        color: white;
        font-size: 30px;
}

.missiontxt{
        text-align: center;
        color: white;
        font-size: 22px;
}

.aboutt{
    grid-area: abou1;
    margin:10px;
    border-radius: 25px;
    background-image: url(aboutt.jpg);
    background-size: 100% 100%;
    overflow: hidden;
    }
    .aboutt:hover .try {
        opacity:1;
        transition: 1s;
    }
    .vissionn:hover .try {
        opacity:1;
        transition: 1s;
    }
    .missionn:hover .try {
        opacity:1;
        transition: 1s;
    }
    .try
    {
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.8);
        opacity: 0;
        padding: 20px;
    }
    .vissionn{
    grid-area: viss1;
    margin:10px;
    border-radius: 15px;
    background-image: url(vission1.png);
    background-size: 100% 100%;
    overflow: hidden;
    }
    .missionn{
    grid-area: miss1;
    margin:10px;
    border-radius: 15px;
    background-image: url(mission1.png);
    background-size: 100% 100%;
    overflow: hidden;
    }

/*Second Section*/

.container1{
    display:grid;
    width:auto;
    height:750px;
    grid-template-columns:1fr 4fr 4fr 4fr 1fr;
    grid-template-rows: 1fr 0.5fr 3fr 1fr 0.5fr;
	grid-template-areas:
    ". mainn mainn mainn ."
    ". pos vieww conn ."
    ". postt view1 conn1 ."
    ". ptxt vtxt contxt ."
    ". link1 link2 . .";
    grid-gap: 10px;
    margin-top: 10px;
}

.mainn{
    grid-area: mainn;
    margin-top: 20px;
    font-size: 60px;
    color: #000;
    text-align: center;
    margin-bottom:25px;
}

.pos{
    grid-area: pos;
}
.vieww{
    grid-area: vieww;
}
.conn{
    grid-area: conn;
}
.postt{
    grid-area: postt;
}

.view1{
    grid-area:view1;
}

.conn1{
    grid-area:conn1;
}

img{
    width:250px;
    height:250px;
    margin: auto;
}


.ptxt{
    grid-area: ptxt;

}

.vtxt{
    grid-area: vtxt;
 
}

.contxt{
    grid-area: contxt;
    

}

.parag{
    color:#696969;
    font-size: 25px;
    text-align:center; 
}

.links{
    text-decoration: none;
    color: #000;
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;

}

.links:hover{
    transition: .5s;
    font-size: 25px;
    color: #FFA500;
}
.link1{
    grid-area: link1;
}

.link2{
    grid-area: link2;
}

/*THIRD SECTION*/

.container2{
    display:grid;
    width:auto;
    height:500px;
    grid-template-columns:1fr 4fr 4fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr;
	grid-template-areas:
    ". heading2 heading2 heading2 ."
    ". commentt commentt commentt ."
    ". iconn part2 part2 ."
    ". submm submm submm .";
    grid-gap: 10px;
    margin-top: 10px;
}

.heading2{
    grid-area: heading2;
    margin-top: 20px;
    font-size: 60px;
    color: #000;
    text-align: center;
    margin-bottom:25px;
}

.commentt{
    grid-area: commentt;
}

.iconn{
    grid-area: iconn;
}

.part2{
    grid-area: part2;
  
}

.slidee{
    color: black;
    font-size: 25px;
    text-align: left;
}

h5{
    text-align: left;
    color: #696969;
}

.submm{
    grid-area: submm;
    display: block;
}


@media screen and (max-width: 768px) 
{
    .landing{
    height: 650px;
    }

    .container
    {
        display: grid;
        width:auto;
        height:1700px;
        grid-template-columns: 1fr;
        grid-template-rows:0.5fr 0.5fr 4fr 0.5fr 4fr 0.5fr 4fr;
        grid-template-areas: 
        "main"
        "abou"
        "abou1"
        "viss"
        "viss1"
        "miss"
        "miss1";
    }

    .mainhead{
        font-size: 50px;
    }

    .missiontxt{
    font-size: 25px;
    }


    .container1{
        display:grid;
        width:auto;
        height:1400px;
        grid-template-columns: 1fr;
        grid-template-rows:0.5fr 0.5fr 4fr 2fr 2fr 0.5fr 4fr 2fr 2fr 0.5fr 4fr 2fr 2fr;
        grid-template-areas:
        "mainn"
        "pos"
        "postt"
        "ptxt"
        "link1"
        "vieww"
        "view1"
        "vtxt"
        "link2"
        "conn"
        "conn1"
        "contxt"
        ".";
        grid-gap: 5px;
        margin-top: 10px;
    }

img{
margin: auto;
}
.mainn{
    font-size: 40px;
}

.parag{
    text-align: center;
}

.links{
    text-align: center !important; 
}

p{
    font-size: 35px;
}

.container2{
    display:grid;
    width:auto;
    height:900px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr 2fr;
    grid-template-areas:
    "heading2"
    "commentt"
    "iconn"
    "part2"
    "submm";
}

.submm{
    text-align: center;
}
.iconn{
    margin-top: 20px;
}

.slidee{
    text-align: center;
}

h5{
    text-align: center;
}

    }
    
   
